@use 'lib' as *;

.text-animated {
	$self: &;
    font-weight: 600;

    &_color-silver {
        span { animation: silverLights 3s infinite; }
    }

    &_color {
        text-transform: uppercase;
        font-weight: 800;

        span {
            animation-fill-mode: both;

            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    animation-delay: #{($i - 1) * 0.3}s;
                }
            }
        }
    }

    @keyframes silverLights {
        0%, 100% {
            color: #fff;
        }
        50% {
            color: #adadad;
        }
    }

    @keyframes purpleLights {
        0%, 100% {
            color: #fff;
        }
        50% {
            color: #fceafd;
        }
    }
}
